.CodeMirror {
    height: auto !important;
}

:root {
  --color-ins: #b3ffb3;
  --color-del: #ffbdbd;
}
@media (prefers-color-scheme: light) {
  pre code del{
    background-color: var(--color-del);
  }
  pre code ins{
    background-color: var(--color-ins);
  }
}
@media (prefers-color-scheme: dark) {
  pre code del{
    color: var(--color-del)
  }
  pre code ins{
    color: var(--color-ins)
  }
  img[src$=".svg"] {
    filter: invert(1);
  }
}

nav {
  margin-bottom: 0 !important;
}

nav ul li ul {
  left: -72px !important;
}

header h3 {
  word-wrap: break-word;
}

li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

aside a {
  width: 235px;
}

/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-secondary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* loader end */


